name: Build UI (CRA)

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
      ecr_repository:
        required: true
        type: string
      tag_env:
        required: true
        type: string 
      environment:
        required: true
        type: string
      # Added input to specify which AWS Secret to pull
      aws_secret_name:
        required: true
        type: string
      target:
        required: true
        type: string
      repository:
        required: true
        type: string
      branch:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      project_dir:
        required: true
        type: string 

    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      submodule_ssh_key:
        required: true

jobs:
  build:
    name: Pull Repository & Build
    runs-on: ubuntu-latest
    env:
      CONTAINERD_ENABLE_DEPRECATED_PULL_SCHEMA_1_IMAGE: "1"
    environment: 
      name: ${{ inputs.environment }}
    steps:
    - name: Checkout Caller Repo
      uses: actions/checkout@v4

    - name: Set tag
      id: vars
      run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
    
    - name: Checkout App Repository
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.repository }}
        ref: ${{ inputs.branch }}
        path: ${{ inputs.project_dir }}
        ssh-key: ${{ secrets.submodule_ssh_key }}
        submodules: recursive

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.aws_access_key_id }}
        aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
        aws-region: ${{ inputs.aws_region }}

    - name: Fetch ENVS from AWS Secrets Manager
      id: fetch-secrets
      run: |
        # Fetching the secret and masking it in logs for security
        SECRET_VALUE=$(aws secretsmanager get-secret-value \
          --secret-id "${{ inputs.aws_secret_name }}" \
          --query SecretString --output text)
        
        echo "::add-mask::$SECRET_VALUE"
        echo "retrieved_envs=$SECRET_VALUE" >> $GITHUB_OUTPUT
    
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image
      id: build-image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: ${{ inputs.ecr_repository }}
        TAG_ENV: ${{ inputs.tag_env }}
        TAG_GIT: ${{ steps.vars.outputs.tag }}
        # Using the output from the fetch-secrets step
        FETCHED_ENVS: ${{ steps.fetch-secrets.outputs.retrieved_envs }}
      run: |
        FULL_IMAGE_STG="$REGISTRY/$REPOSITORY:$TAG_ENV"
        FULL_IMAGE_GIT="$REGISTRY/$REPOSITORY:$TAG_GIT"

        docker build -f ${{ inputs.dockerfile }} \
          -t "$FULL_IMAGE_STG" \
          -t "$FULL_IMAGE_GIT" \
          --target ${{ inputs.target }} . \
          --build-arg ENVS="$FETCHED_ENVS"
        
        docker push "$FULL_IMAGE_STG"
        docker push "$FULL_IMAGE_GIT"
        
        echo "image=$FULL_IMAGE_GIT" >> $GITHUB_OUTPUT