name: Build Web Service

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
      environment:
        required: true
        type: string
      target:
        required: true
        type: string
      repository:
        required: true
        type: string
      branch:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      project_dir:
        required: true
        type: string
      secret_dir:
        required: true
        type: string          
      tag_env:
        required: true
        type: string 
      env_path:
        required: true
        type: string

    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      submodule_ssh_key:
        required: true
      ecr_repository:
        required: true
      aws_secret_name:
        required: true

jobs:
  build:
    name: Pull Repository & Build
    runs-on: ubuntu-latest
    environment: 
      name: ${{ inputs.environment }}
    steps:
    - uses: actions/checkout@v2

    - name: Set tag
      id: vars
      run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
    
    - name: Checkout submodules
      uses: actions/checkout@v2 
      with:
        repository: ${{ inputs.repository }}
        ref: ${{ inputs.branch }}
        path: ${{ inputs.project_dir }}
        ssh-key: ${{ secrets.submodule_ssh_key }}
        submodules: recursive

    # Updated path to match your GCP version file logic
    - run: git describe --tags > ${{ inputs.project_dir }}/version
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.aws_access_key_id }}
        aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
        aws-region: ${{ inputs.aws_region }}
    
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Get .env from AWS Secrets Manager
      uses: aws-actions/aws-secretsmanager-get-secrets@v1
      with:
        secret-ids: |
          DOTENV_CONTENT, ${{ secrets.aws_secret_name }}
        parse-json-secrets: false

    - name: Create temporary .env file
      run: |
        # Ensure the directory exists based on the env_path input
        mkdir -p $(dirname ${{ inputs.env_path }})
        echo "${{ env.DOTENV_CONTENT }}" > ${{ inputs.env_path }}

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        DOCKER_BUILDKIT: 1
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        TAG_LATEST: ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ecr_repository }}:${{ inputs.tag_env }}
        TAG_VERSION: ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ecr_repository }}:${{ steps.vars.outputs.tag}}

      run: |
        # Use BuildKit secrets to mount the env file during build without baking it into layers
        docker build -f ${{ inputs.dockerfile }} \
        -t $TAG_LATEST \
        -t $TAG_VERSION \
        --target ${{ inputs.target }} \
        --build-arg PROJECT_DIR=${{ inputs.project_dir }} \
        --secret id=dotenv,src=${{ inputs.env_path }} \
        .
        
        docker push $TAG_LATEST
        docker push $TAG_VERSION
        echo "image=$TAG_VERSION" >> $GITHUB_OUTPUT

    - name: Cleanup Secrets
      if: always()
      run: rm -f ${{ inputs.env_path }}