name: Add Domain Mapping to Cloud Run Service

on:
  workflow_call:
    inputs:
      gcp_region:
        required: true
        type: string
      gcp_project_id:
        required: true
        type: string
      service_name:
        required: true
        type: string
      domain:
        required: true
        type: string
    
    secrets:
      gcp_workload_identity_provider:
        required: true
      gcp_service_account:
        required: true

jobs:
  deploy:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: ${{ secrets.gcp_workload_identity_provider }}
          service_account: ${{ secrets.gcp_service_account }}

      - name: Add Domain Mapping to Cloud Run Service
        run: |
          gcloud run domain-mappings create \
            --service ${{ inputs.service_name }} \
            --domain ${{ inputs.domain }}
